.album-edit {
  &-image {
    width: 66%;
    margin: 0 auto;
    
    &__select {
      text-align: left;

      span {
        color: #444;
      }
    }

    > img {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
  }
}