.button-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-row {
    width: 100%;
    margin: 28px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__right-fixed {
    position: fixed;
    right: 20%;
    top: 160px;
  }
}

.icon-button {
  cursor: pointer;
}
