.modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    position: absolute;
    top: 30%;

    width: 50%;
    height: 240px;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
      padding-top: 16px;
      color: #444;
      font-size: 32px;
      white-space: pre-wrap;
    }

    > h3 {
      white-space: pre-wrap;
      padding-top: 32px;
      color: #444;
    }
  }
}
