.inputs-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 72px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 16px;
  height: 140%;
  border-radius: 4px;
  // display: flex;
  // flex-direction: column;
  align-items: center;
}
