@import './header';
@import './input';
@import './button';
@import './song';
@import './user';
@import './albums';
@import './albumEddit';
@import './page';
@import './modal';

body {
  background-image: url('../images/nasa2.jpg');
  color: red;

  margin: 0 auto;
  text-align: center;
  * {
    margin: 0;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  h1 {
    background-color: black;
    height: 80px;
    line-height: 80px;
  }
}
.spacing-div {
  height: 2em;
}

section {
  margin-bottom: 2em;

  h1 {
    margin-top: 0.2em;
  }
}
.loading {
  line-height: 80vh;
  font-size: 48px;
}

.home {
  .username {
    font-size: 1.6em;
  }
}

.display-none {
  display: none;
}
